.navigation {

    &__checked {
        display: none;
    }

    &__label {
        width: 6rem;
        height: 6rem;
        position: fixed;
        top: 7rem;
        right: 7rem;
        background-color: $color-white;
        border-radius: 50%;
        z-index:2000;
        text-align: center;
        cursor: pointer;
        transition: transform .3s;
    }

    &__back {
        width: 5rem;
        height: 5rem;
        position: fixed;
        top: 7.5rem;
        right: 7.5rem;
        background-image: radial-gradient($color-primary-light,$color-primary-dark);
        border-radius: 50%;
        z-index:1000;
        transition: transform .2s;

    }

    &__nav {
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1500;
        opacity: 0;
        width: 0;
        transition: all .1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    &__list {
        list-style: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        list-style: none;
        text-align: center;
        width: 100%;
    }

    &__link {
        &:link,
        &:visited {
            display: inline-block;
            font-size: 3rem;
            font-weight: 300;
            padding: 1rem 2rem;
            color: $color-white;
            text-decoration: none;
            text-transform: uppercase;
            background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%);
            background-size: 220%;
            transition: all .4s;

            span {
                margin-right: 1.5rem;
                display: inline-block;
            }
        }
        

        &:hover,
        &:active {
            background-position: 100%;
            color: $color-primary;
            transform: translateX(1rem);
        }

        
    }

    &__item {
        margin: 1rem;
    }

    
    &__checked:checked ~ &__back {
        transform: scale(80);
    }

    // &__checked:not(:checked) ~ &__back {
    //     transform: scale(1);
    // }

    
    &__checked:checked ~ &__nav {
        opacity: 1;
        width: 100%;
    }

    // &__checked:not(:checked) ~ &__nav {
    //     opacity: 0;
    //     width: 0;
    // }


    //ICON
    &__icon {
        position: relative;
        margin-top: 2.8rem;


        &,
        &::before,
        &::after {
            width: 3rem;
            height: 2px;
            background-color: $color-grey-dark-3;
            display: inline-block;
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
            transition: all .2s;
        }

        &::after {
            top: .8rem;
        }

        &::before {
            top: -.8rem ;
        }
    }

    &__label:hover &__icon::before {
        top: -1rem;
    }

    &__label:hover &__icon::after {
        top: 1rem;
    }

    &__checked:checked + &__label &__icon {
        background-color: transparent;
    }

    &__checked:checked + &__label &__icon::before {
        top: 0;
        transform: rotate(135deg);
    }

    &__checked:checked + &__label &__icon::after {
        top: 0;
        transform: rotate(-135deg);
    }
}